* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 480px) {

}

@media (min-width: 600px) {
    
}

header {
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 50px 15px 15px;
    flex-wrap: wrap;
}

header input {
    width: 100%;
    max-width: 280px;
    padding: 10px 15px;
    border: none;
    outline: none;
    border-radius: 16px 0px 16px 0px;
    border-bottom: 3px solid gray;
    font-size: 20px;
    font-weight: 360;
}

main {
    flex: 1 1 100%;
    padding: 25px 25px 50px;
    display: inline-flexbox;
    flex-direction: column;
    align-items: right;
    text-align: right;
    flex-wrap: wrap;
}

.navbar {
    justify-content: left;
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: whitesmoke;
    color: darkblue;
    font-weight: bold;
}

/* -----
SVG Icons - svgicons.sparkk.fr
----- */
.container {
float: center; 
width: 100%;
height: 100%;
}

.svg-icon {
    width: 3em;
    height: 3em;
  }
  
  .svg-icon path,
  .svg-icon polygon,
  .svg-icon rect {
    fill: #4691f6;
  }
  
  .svg-icon circle {
    stroke: #4691f6;
    stroke-width: 1;
  }


textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #000000;
    font-weight: bold;
    border-left: 1px solid black;
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    padding: 10px;
    width: 55vw;
  }

.map {
height: 400px;
width: 100%;
}

#five-day {
    display: flex;
    flex-direction: row;
    color: black;
}

#day-one {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    align-items: flex-start;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    float: left;
}
#day-two {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    align-items: flex-start;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    float: left;
    
}
#day-three {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    align-items: flex-start;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    float: left;
    
}
#day-four {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    align-items: flex-start;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    float: left;
    

}
#day-five {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    align-items: flex-start;
    width: 200px;
    height: 150px;
    border: 1px solid black;
    float: left;
}
